_build/
deps/
.git/
.gitignore
Dockerfile
Makefile
README*
.vscode/
.elixir_ls/
docs/
erl_crash.dump
examples/
guides/
/kinesis-client/target/
/logo/
/smoke_tests/
/deployment/
/integration_tests/
/website/
