_build/
deps/
.git/
.gitignore
Dockerfile
Makefile
README*
test/
priv/static/
priv/cert/
.vscode/
.elixir_ls/
docs/
erl_crash.dump
examples/
guides/
/kinesis-client/target/
/logo/
/smoke_tests/
/website/
