Server {
       com.sun.security.auth.module.Krb5LoginModule required
       useKeyTab=true
       keyTab="/var/lib/secret/zookeeper.key"
       storeKey=true
       useTicketCache=false
       principal="zookeeper/zookeeper.kerberos-demo.local@TEST.CONFLUENT.IO";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useTicketCache=true;
};
